.cotainer{
    margin: 30px !important;
}

.titles{
    margin-bottom: 97px;
    border-bottom: 1px solid #00000040;
    padding-bottom: 18px;
}


.titles span{
    color: black;
    font-size: 48px;
    font-family: DM Sans;
    font-weight: 500;
}


