* {
  font-family: DM Sans;
}

 ::ng-deep app-input label {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
::ng-deep p-button{
    border: #005aa9;
    color: black;
    :focus{
        box-shadow: none;
    }
   
}
label{
  font-size: 17px; 
  font-weight: 600;
}

.title {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.title h1 {
  padding-top: 0px;
  margin-bottom: 15px;
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.centered {
  text-align: center;
}

th.centered,
td.centered {
  text-align: center;
}
