* {
  font-family: "DM Sans", sans-serif;
  color: black;
}

input:focus {
  box-shadow: none;
  
}

.p-inputtext {  
  border-color: black;
  border-radius: 20px;
  padding: 17px;
  padding-left: 20px;
  font-size: 15px;
}

