<div class="flex min-h-screen">
  <div class="w-full md:w-6 pb-7 pr-6 pl-6 pt-2 md:pb-4 pl-4 pr-4 pt-2">
    <p-toast position="top-center"></p-toast>
    <div class="mb-4 pb-1">
      <img
        src="../../../assets/images/login/IHealth Logo(250 x 250 px).svg"
        style="transform: scale(0.8)"
      />
    </div>

    <div class="flex-column"></div>
    <router-outlet></router-outlet>
  </div>
  <div
    class="hidden md:block w-11 bg-no-repeat bg-cover"
    style="background-color: #005aa9"
  ></div>
</div>
