<div class="flex min-h-screen">
    <div class="w-full md:w-6 p-4 md:p-8">
      <div class="mb-5 mt-4" style="padding-left: 1rem;">
        <img src="../../../assets/images/login/IHealth Logo(250 x 250 px).svg" />
      </div>
  
      <div class="flex-column">
        <div
          class="text-6xl"
          style="margin-bottom: 2rem; font-weight: 700; margin-left: 1rem"
        >
          Sing In
        </div>
  
        <div class="field">
          <app-input
            label="Email"
            placeholder="rawad.munosromero@unicolombo.edu.co"
          ></app-input>
        </div>
  
        <div class="field">
          <app-input
            label="Password"
            type="password"
            placeholder="Password"
          ></app-input>
        </div>
  
        <div class="formgrid grid" style="margin-top: 2rem">
          <div class="field col">
            <app-checkbox label="Save Account"></app-checkbox>
          </div>
          <div class="field col">
            <a class="forgot-a" href="google.com">Forgot Password?</a>
          </div>
        </div>
  
        <div class="form grid justify-content-center mt-3">
          <app-button label="Sign In"></app-button>
        </div>
  
        <div class="Signup">
          <label for="">Don't have an account?&nbsp;</label>
          <a class="Signup-a">Sign Up.</a>
        </div>
      </div>
    </div>
  
    <div
    class="hidden md:block w-11 bg-no-repeat bg-cover"
    style="background-color: #005aa9"
  ></div>
  
  </div>
  
  
  