<div class="SignIn">Sing Up</div>

<form [formGroup]="registerForm">
  <div class="field">
    <app-input
      name="name"
      label="Name"
      placeholder="Jane Doe"
      id="name"
      formControlName="name"
    >
    </app-input>
  </div>

  <div class="field">
    <app-input
      name="email"
      label="Email"
      placeholder="email@unicolombo.edu.co"
      id="email"
      formControlName="email"
    >
    </app-input>
  </div>

  <div class="field">
    <app-input-password
      name="password"
      label="Password"
      placeholder="Password"
      id="password"
      formControlName="password"
    >
    </app-input-password>
  </div>
</form>

<div class="formgrid grid" style="margin-top: 1rem">
  <div class="field col">
    <app-checkbox label="I accept the Privacy Police"></app-checkbox>
  </div>
</div>

<div class="form grid justify-content-center">
  <app-button label="Sign In" type="submit" (click)="register()"> </app-button>
</div>

<div class="Signup">
  <label for="">Already have account?&nbsp;</label>
  <a class="Signup-a" routerLink="/auth/login">Sign In.</a>
</div>
