* {
  font-family: "DM Sans", sans-serif;
}

div app-input {
  display: flex;
  justify-content: center;
}

div app-inpu-password {
  display: flex;
  justify-content: center;
}

div app-button {
  display: flex;
  justify-content: center;
}

.field.col app-checkbox {
  margin-left: 1rem;
  display: grid;
  justify-content: start;
}

.field.col a {
  margin-right: 1rem;
  display: grid;
  justify-content: end;
}

.Signup {
  display: flex;
  justify-content: center;
}

.forgot-a {
  color: #005aa9;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.Signup label {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Signup a {
  color: #005aa9;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.error {
  font-size: 10px;
  font-weight: 300;
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  color: red;
}

.SignIn {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 700;
  margin-left: 1rem;
}

::ng-deep input.ng-valid.ng-touched {
  border-color: green;
}

::ng-deep input.ng-invalid.ng-touched {
  border-color: red;
}
