* {
    font-family: "DM Sans", sans-serif;
    color: black;
  }

  .p-multiselect:focus {
    box-shadow: none;
  }

  .border {
    border: 1px solid black;
  }

  p-multiselect {
    border-color: black !important;
    border-radius: 20px;
    padding: 17px;
    padding-left: 20px;
    font-size: 15px;
  }

  .custom-select .p-dropdown, 
  .custom-select .p-multiselect {
    border-color: black;
    border-radius: 20px;
  }

  .custom-select .p-dropdown .p-dropdown-label,
  .custom-select .p-multiselect .p-multiselect-label {
    padding: 17px;
    padding-left: 20px;
    font-size: 15px;
  }

  .custom-select .p-dropdown-trigger,
  .custom-select .p-multiselect-trigger {
    padding-right: 20px;
  }