<div class="my-3" *ngIf="control">
    <form class="w-full">
      <p-multiSelect
        *ngIf="multiple; else singleSelect"
        [formControl]="control"
        [options]="options"
        [optionLabel]="optionLabel"
        [placeholder]="placeholder"
        [display]="'chip'"
        [optionValue]="optionValue"
        styleClass="w-full custom-select"
        (onChange)="setData($event)"
        [(ngModel)]="selectedItems"
        dataKey="name"
        ></p-multiSelect>

      <ng-template #singleSelect>
        <p-dropdown
          [formControl]="control"
          [options]="options"
          [optionLabel]="optionLabel"
          [placeholder]="placeholder"
          [optionValue]="optionValue"
          styleClass="w-full custom-select"
          (onChange)="setData($event)"
        ></p-dropdown>
      </ng-template>
    </form>
  </div>
