<app-toast></app-toast>

<div class="title">
  <h1>Gestión de Menú</h1>
</div>

<form (submit)="saveMenuItem()" [formGroup]="addForm" class="menu-form">
  <div class="grid">
    <div class="col-6">
      <div class="grid">
        <div class="col-6">
          <app-input
            label="Nombre"
            [value]="name.value"
            (input)="name.setValue($event?.target?.value || '')"
            name="name"
          ></app-input>
        </div>
        <div class="col-6">
          <app-input
            label="Ícono"
            [value]="icon.value"
            (input)="icon.setValue($event?.target?.value || '')"
            name="icon"
          ></app-input>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <app-input
            label="Ruta"
            [value]="route.value"
            (input)="route.setValue($event?.target?.value || '')"
            name="route"
          ></app-input>
        </div>
        <div class="col-6 custom">
          <app-drop-down
            [selected]="roles.value"
            name="roles"
            [options]="careerRoles"
            optionLabel="name"
            optionValue="id"
            placeholder="Seleccione roles"
            [multiple]="true"
            (emitData)="updateRoles($event)"
          ></app-drop-down>
        </div>
      </div>
    </div>
  </div>
  <div class="form-buttons">
    <button
      pButton
      type="submit"
      [label]="isEditing ? 'Actualizar' : 'Agregar'"
      icon="pi pi-save"
      [disabled]="addForm.invalid"
    ></button>
    <button
      pButton
      type="button"
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="resetForm()"
      *ngIf="isEditing"
    ></button>
  </div>
</form>


<div class="table">
  <app-dynamic-table [headers]="tableHeaders"></app-dynamic-table>
</div>
