button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: solid 2px #fff;
  background: #005aa9;
  margin: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  &.selected {
    background-color: #014b8b;
    border-color: #014b8b; // Para resaltar el borde también
  }
}

button label {
  color: #fff;
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 400;
}
