<app-toast></app-toast>

<div class="title">
  <h1>Gestión de Menú</h1>
</div>

<div class="grid">
  <div class="col-6">
    <div class="grid">
      <div class="col-6">
        <app-input label="Nombre" [(ngModel)]="newItem.name" name="name"></app-input>
      </div>
      <div class="col-6">
        <app-input label="Ícono" [(ngModel)]="newItem.icon" name="icon"></app-input>
      </div>
    </div>

    <div class="grid">
      <div class="col-6">
        <app-input label="Ruta" [(ngModel)]="newItem.route" name="route"></app-input>
      </div>
      <div class="col-6">
        <app-drop-down [(ngModel)]="newItem.roles" name="roles" [options]="careerRoles" optionLabel="name"
          optionValue="id" placeholder="Seleccione roles" [multiple]="true" (emitData)="updateRoles($event)">
        </app-drop-down>

      </div>
    </div>
  </div>
</div>

<form (submit)="saveMenuItem()" class="menu-form">
  <div class="form-buttons">
    <button pButton type="submit" [label]="isEditing ? 'Actualizar' : 'Agregar'" icon="pi pi-save"></button>
    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="resetForm()"
      *ngIf="isEditing">
    </button>
  </div>
</form>

<div class="table">
  <p-table [value]="menuItems" [paginator]="true" [rows]="5" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th class="centered">Nombre</th>
        <th class="centered">Ícono</th>
        <th class="centered">Ruta</th>
        <th class="centered">Roles</th>
        <th class="centered">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="centered">{{ item.name }}</td>
        <td class="centered">
          <i [class]="item.icon" class="pi pi-lg"></i>
        </td>
        <td class="centered">{{ item.route }}</td>
        <td class="centered">{{ getRolesAsString(item.roles) }}</td>
        <td class="centered">
          <button pButton icon="pi pi-pencil" class="p-button-sm p-button-text" (click)="editMenuItem(item)"></button>
          <button pButton icon="pi pi-trash" class="p-button-sm p-button-danger"
            (click)="deleteMenuItem(item.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>