<div class="SignIn">Iniciar sesión</div>

<form [formGroup]="loginForm">
  <div class="field">
    <app-input
      name="email"
      label="Correo electronico"
      placeholder="email@unicolombo.edu.co"
      id="email"
      formControlName="email"
    >
    </app-input>
    <p class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      {{ getErrorMessage('email') }}
    </p>
  </div>

  <div class="field">

    <app-input-password
      name="password"
      label="Contraseña"
      placeholder="Password"
      id="password"
      formControlName="password"
    >
    </app-input-password>
    <p class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      {{ getErrorMessage('password') }}
    </p>
  </div>
</form>

<div class="formgrid grid" style="margin-top: 1rem">
  <div class="field col">
    <a class="forgot-a">Olvidaste tu contraseña?</a>
  </div>
</div>

<div class="form grid justify-content-center">
  <app-button
    label="Iniciar sesión"
    type="submit"
    [disabled]="loginForm.invalid"
    (click)="login()"
  >
  </app-button>
</div>

<div class="Signup">
  <label for="">¿No tienes cuenta? &nbsp;</label>
  <a class="Signup-a" (click)="register()">Registrate aqui.</a>
</div>
