<div class="flex min-h-screen">
  <div class="w-full md:w-6 p-4 md:p-8">
    <div class="mb-5 mt-4" style="padding-left: 1rem">
      <img src="../../../assets/images/login/IHealth Logo(250 x 250 px).svg" />
    </div>

    <div class="flex-column">
      <div class="SignIn">Sing In</div>

      <form [formGroup]="loginForm">
        <p class="error">{{ loginError }}</p>

        <div class="field">
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="text-danger"
          >
            <span *ngIf="email.errors?.['required']" class="error"
              >El email es requerido</span
            >

            <span *ngIf="email.errors?.['email']" class="error"
              >El email tiene un formato invalido</span
            >
          </div>

          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger"
          >
            <span *ngIf="password.errors?.['required']" class="error"
              >El password es requerido</span
            >
          </div>

          <input
            style="margin-right: 5px"
            type="text"
            formControlName="email"
          />
          <input type="password" formControlName="Password" />

          <app-input
            name="email"
            label="Email"
            placeholder="email@unicolombo.edu.co"
            id="email"
          >
          </app-input>
        </div>

        <div class="field">
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger"
          >
            <span *ngIf="password.errors?.['required']" class="error"
              >El password es requerido</span
            >
          </div>
          <app-input
            class="innn"
            name="password"
            label="Password"
            type="password"
            placeholder="Password"
            id="password"
          ></app-input>
        </div>
      </form>

      <div class="formgrid grid" style="margin-top: 2rem">
        <div class="field col">
          <app-checkbox label="Save Account"></app-checkbox>
        </div>
        <div class="field col">
          <a class="forgot-a">Forgot Password?</a>
        </div>
      </div>

      <div class="form grid justify-content-center" style="margin-top: 4rem">
        <app-button label="Sign In" type="submit" (click)="login()">
        </app-button>
      </div>

      <div class="Signup">
        <label for="">Don't have an account?&nbsp;</label>
        <a class="Signup-a">Sign Up.</a>
      </div>
    </div>
  </div>

  <div
    class="hidden md:block w-11 bg-no-repeat bg-cover"
    style="background-color: #005aa9"
  ></div>
</div>
